/* Style główne - START */
body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
/* Style główne - STOP */

/* Style footer - START */

section, footer {
    text-align: center;
    padding: 40px;
}


/* Style menu - START */
#menu {
    background-color: black;
    position: fixed;
    width: 100%;
    z-index: 1;
}

#menu ul {
    margin: 0;
    text-align: center;
}

#menu ul .menu-item {
    display: inline-block;
    padding: 20px;
}

#menu ul .menu-item a {
    color: white;
    text-decoration: none;
}

/* Style menu - STOP */

/* Style header - START - ustalenie napisu idealnie na środku - top, align, translateY-50% */

#header {
    
position: relative;
    
}

#header img {
    width: 100%;
}

#header h1 {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: white;
    text-transform: uppercase;
    margin: 0;
    transform: translateY(-50%);
}

/* Style header - STOP */




/* Style footer - START */

#contact {
background-color: #222;
color: #fff;
}

#contact address {
font-style: normal;
}


#contact a {
color: #fff;
}

/* Style footer - STOP */


